body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: Arial, sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

nav.navbar{
  position: fixed;
  top: 0%;
  left: 0%;
  height: 8vh;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  box-shadow: 0 5px 15pxrgba(0, 0, 0, 0.06);
  background-color: #323aa0;
  text-align: center;
  z-index: 2;
}
.hs{
  /* text-align: center; */
  margin-left: 40vw;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 600;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}
.hs:hover{
  color: #17cf97;
}

h1 {
  margin: 0;
}

.content {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.room-list {
  /* flex: 40 0 150px; */
  /* padding: 20px; */
  overflow-y: auto;
  background-color: #f8f8f8;
}

.room-item {
  background-color: white;
  padding: 10px;
  margin-bottom: 10px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.room-item h3 {
  margin-top: 0;
}

.chat-container {
  margin-left: 4 rem;
  margin-right: 4rem;
  flex: 1;
  /* padding: 20px; */
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.message {
  max-width: 70%;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 20px;
}

.user {
  align-self: flex-end;
  background-color: #e6f2ff;
}

.assistant {
  align-self: flex-start;
  background-color: #f0f0f0;
}

.message-form {
  display: flex;
  padding: 20px;
  background-color: white;
}

input {
  flex-grow: 1;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 20px 0 0 20px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4a90e2;
  color: white;
  border: none;
  border-radius: 0 20px 20px 0;
  cursor: pointer;
}

button:hover {
  background-color: #3a7bc8;
}